# Match the HBN Actigraphy Dataset with the train series
In this notebook is intended to show the code we used for determining whether the HBN actigraphy dataset we found is the same as the training dataset.

In [51]:
import pandas as pd
import os

In [47]:
# Retrieve the training data
train_events: pd.DataFrame = pd.read_csv("../../data/raw/train_events.csv")
train_series: pd.DataFrame = pd.read_parquet("../../data/raw/train_series.parquet")
train_series["anglez"] = train_series["anglez"].round(3)

def get_series_names(batch: str) -> list[str]:
    return list(map(lambda x: x.split('_')[-1], os.listdir("../../data/processed/" + batch)))

def preprocess(batch: str, file: str) -> pd.DataFrame:
    try:
        hbn_data: pd.DataFrame = pd.read_csv("../../data/processed/" + batch + "/output_" + file + "/meta/csv/" + file + ".gt3x.RData.csv")
    except FileNotFoundError: # Some directories are empty, so add this to not crash
        hbn_data = pd.DataFrame()
        hbn_data['anglez'] = []
        hbn_data['enmo'] = []
        hbn_data['timestamp'] = []
        return hbn_data
    hbn_data['anglez'] = hbn_data['anglez'].astype('float32')
    hbn_data['enmo'] = hbn_data['ENMO'].astype('float32').round(3)
    hbn_data.drop("ENMO", axis=1, inplace=True)
    return hbn_data

# Retrieve the HBN Actigraphy Dataset
hbn_series_directories: list[str] = ["GGIR_processing", "Batch_2", "Batch_3", "Batch_4"]

# Store the list with all files together with the name of the batch
hbn_series_names: list[(str, list)] = list(zip(hbn_series_directories, list(map(get_series_names, hbn_series_directories))))

# Preprocess the data
hbn_series: list = list(map(lambda series: (series[0], list(map(lambda file: preprocess(series[0], file), series[1]))), hbn_series_names))

# Match the data from the train series with the HBN series
def match(hbn_series: pd.DataFrame) -> pd.DataFrame:
    merged_df: pd.DataFrame = pd.merge(train_series, hbn_series, on=['timestamp', 'anglez'], suffixes=('_train', '_hbn'), how='inner')
    merged_count: pd.DataFrame = pd.merge(train_series['series_id'].value_counts(), merged_df['series_id'].value_counts(), on=['series_id'], suffixes=('_train', '_hbn'), how='inner')
    result_df: pd.DataFrame = merged_count[merged_count['count_train'] == merged_count['count_hbn']]
    return result_df

print(hbn_series)

[('GGIR_processing', [                       timestamp     anglez   enmo
0       2018-12-19T15:45:00-0500 -85.633598  0.000
1       2018-12-19T15:45:05-0500 -85.633598  0.000
2       2018-12-19T15:45:10-0500 -85.633598  0.000
3       2018-12-19T15:45:15-0500 -85.633598  0.000
4       2018-12-19T15:45:20-0500 -85.633598  0.000
...                          ...        ...    ...
513535  2019-01-18T08:59:35-0500   3.631800  0.048
513536  2019-01-18T08:59:40-0500   0.452800  0.061
513537  2019-01-18T08:59:45-0500  -3.636300  0.108
513538  2019-01-18T08:59:50-0500  -0.324000  0.164
513539  2019-01-18T08:59:55-0500   6.555500  0.126

[513540 rows x 3 columns],                        timestamp     anglez   enmo
0       2019-02-27T15:45:00-0500 -26.057199  0.664
1       2019-02-27T15:45:05-0500 -46.754398  0.946
2       2019-02-27T15:45:10-0500 -48.178200  0.031
3       2019-02-27T15:45:15-0500 -43.887100  0.056
4       2019-02-27T15:45:20-0500 -56.901299  0.063
...                          ...        ...    ...
376735  2019-03-21T11:59:35-0400  -9.545500  0.100
376736  2019-03-21T11:59:40-0400  -8.322800  0.088
376737  2019-03-21T11:59:45-0400  -6.471400  0.056
376738  2019-03-21T11:59:50-0400  -3.346100  0.041
376739  2019-03-21T11:59:55-0400  -9.385500  0.056

[376740 rows x 3 columns],                        timestamp     anglez   enmo
0       2018-11-20T10:45:00-0500 -84.136101  0.004
1       2018-11-20T10:45:05-0500 -84.128098  0.004
2       2018-11-20T10:45:10-0500 -84.199203  0.005
3       2018-11-20T10:45:15-0500 -84.136101  0.004
4       2018-11-20T10:45:20-0500 -84.127701  0.004
...                          ...        ...    ...
389875  2018-12-13T00:14:35-0500  25.431999  0.001
389876  2018-12-13T00:14:40-0500  25.435301  0.001
389877  2018-12-13T00:14:45-0500  25.431999  0.001
389878  2018-12-13T00:14:50-0500  25.431999  0.001
389879  2018-12-13T00:14:55-0500  25.442499  0.002

[389880 rows x 3 columns],                        timestamp     anglez   enmo
0       2018-05-15T12:30:00-0400 -80.936401  0.000
1       2018-05-15T12:30:05-0400 -80.936401  0.000
2       2018-05-15T12:30:10-0400 -80.936401  0.000
3       2018-05-15T12:30:15-0400 -80.936401  0.000
4       2018-05-15T12:30:20-0400 -80.936401  0.000
...                          ...        ...    ...
639895  2018-06-21T13:14:35-0400 -38.240700  0.041
639896  2018-06-21T13:14:40-0400   7.491100  0.038
639897  2018-06-21T13:14:45-0400   7.924200  0.067
639898  2018-06-21T13:14:50-0400  -8.983900  0.097
639899  2018-06-21T13:14:55-0400  -2.408600  0.077

[639900 rows x 3 columns],                        timestamp     anglez   enmo
0       2018-09-17T13:00:00-0400  86.178101  0.000
1       2018-09-17T13:00:05-0400  86.175598  0.000
2       2018-09-17T13:00:10-0400  86.172096  0.000
3       2018-09-17T13:00:15-0400  86.178101  0.000
4       2018-09-17T13:00:20-0400  86.178101  0.000
...                          ...        ...    ...
397255  2018-10-10T12:44:35-0400  19.703899  0.009
397256  2018-10-10T12:44:40-0400  19.510401  0.008
397257  2018-10-10T12:44:45-0400  19.171700  0.009
397258  2018-10-10T12:44:50-0400  18.801701  0.009
397259  2018-10-10T12:44:55-0400   9.820200  0.011

[397260 rows x 3 columns],                        timestamp     anglez   enmo
0       2017-10-30T16:45:00-0400  87.787300  0.001
1       2017-10-30T16:45:05-0400  87.788300  0.001
2       2017-10-30T16:45:10-0400  87.791496  0.001
3       2017-10-30T16:45:15-0400  87.794899  0.001
4       2017-10-30T16:45:20-0400  87.794899  0.001
...                          ...        ...    ...
390235  2017-11-22T05:44:35-0500   1.631900  0.015
390236  2017-11-22T05:44:40-0500  -2.148100  0.021
390237  2017-11-22T05:44:45-0500  -3.366000  0.018
390238  2017-11-22T05:44:50-0500   1.770600  0.013
390239  2017-11-22T05:44:55-0500  -1.007900  0.019

[390240 rows x 3 columns],                        timestamp     anglez   enmo
0       2018-05-02T15:30:00-0400  89.039803  0.000
1       2018-05-02T15:30:05-0400  89.039803  0.000
2       2018-05-02T15:30:10-0400  88.373901  0.001
3       2018-05-02T15:30:15-0400  88.317299  0.001
4       2018-05-02T15:30:20-0400  88.677597  0.000
...                          ...        ...    ...
617395  2018-06-07T08:59:35-0400  -7.836200  0.056
617396  2018-06-07T08:59:40-0400 -13.047800  0.073
617397  2018-06-07T08:59:45-0400 -18.927200  0.048
617398  2018-06-07T08:59:50-0400 -14.356200  0.050
617399  2018-06-07T08:59:55-0400 -13.879600  0.042

[617400 rows x 3 columns],                        timestamp     anglez   enmo
0       2017-11-14T16:30:00-0500  11.152300  0.093
1       2017-11-14T16:30:05-0500   6.741100  0.061
2       2017-11-14T16:30:10-0500   4.157300  0.104
3       2017-11-14T16:30:15-0500  10.926500  0.162
4       2017-11-14T16:30:20-0500  11.725100  0.110
...                          ...        ...    ...
370795  2017-12-06T03:29:35-0500 -43.489700  0.020
370796  2017-12-06T03:29:40-0500 -43.045502  0.015
370797  2017-12-06T03:29:45-0500 -42.961899  0.015
370798  2017-12-06T03:29:50-0500 -43.113098  0.014
370799  2017-12-06T03:29:55-0500 -42.150101  0.016

[370800 rows x 3 columns],                        timestamp   anglez   enmo
0       2017-11-01T17:15:00-0400   8.4406  0.064
1       2017-11-01T17:15:05-0400 -16.1334  0.186
2       2017-11-01T17:15:10-0400 -13.2307  0.046
3       2017-11-01T17:15:15-0400  -6.9760  0.035
4       2017-11-01T17:15:20-0400  -7.8647  0.035
...                          ...      ...    ...
386455  2017-11-24T00:59:35-0500  -6.1049  0.005
386456  2017-11-24T00:59:40-0500  -6.3703  0.006
386457  2017-11-24T00:59:45-0500  -6.7917  0.006
386458  2017-11-24T00:59:50-0500  -6.8299  0.006
386459  2017-11-24T00:59:55-0500  -4.9059  0.006

[386460 rows x 3 columns],                        timestamp     anglez   enmo
0       2017-10-25T16:15:00-0400  -5.216500  0.047
1       2017-10-25T16:15:05-0400  69.154602  0.056
2       2017-10-25T16:15:10-0400  66.138802  0.074
3       2017-10-25T16:15:15-0400  68.897598  0.044
4       2017-10-25T16:15:20-0400  86.202797  0.000
...                          ...        ...    ...
384475  2017-11-16T21:14:35-0500  11.990200  0.013
384476  2017-11-16T21:14:40-0500  13.286200  0.020
384477  2017-11-16T21:14:45-0500  10.721000  0.014
384478  2017-11-16T21:14:50-0500  13.568300  0.028
384479  2017-11-16T21:14:55-0500  13.655700  0.049

[384480 rows x 3 columns],                        timestamp     anglez   enmo
0       2018-06-07T17:30:00-0400 -41.400799  0.000
1       2018-06-07T17:30:05-0400 -41.705601  0.003
2       2018-06-07T17:30:10-0400 -41.561699  0.001
3       2018-06-07T17:30:15-0400 -41.553501  0.000
4       2018-06-07T17:30:20-0400 -41.558800  0.000
...                          ...        ...    ...
395815  2018-06-30T15:14:35-0400  88.526901  0.000
395816  2018-06-30T15:14:40-0400  83.696098  0.014
395817  2018-06-30T15:14:45-0400  54.481701  0.101
395818  2018-06-30T15:14:50-0400  65.927498  0.042
395819  2018-06-30T15:14:55-0400 -32.499699  0.012

[395820 rows x 3 columns],                        timestamp   anglez   enmo
0       2018-02-16T17:00:00-0500  47.5247  0.193
1       2018-02-16T17:00:05-0500  12.1895  0.162
2       2018-02-16T17:00:10-0500   4.7999  0.101
3       2018-02-16T17:00:15-0500 -10.0127  0.131
4       2018-02-16T17:00:20-0500 -33.9389  0.125
...                          ...      ...    ...
414535  2018-03-12T17:44:35-0400  -1.8729  0.044
414536  2018-03-12T17:44:40-0400  -5.5764  0.047
414537  2018-03-12T17:44:45-0400  -7.6685  0.041
414538  2018-03-12T17:44:50-0400 -17.2827  0.050
414539  2018-03-12T17:44:55-0400 -18.6224  0.066

[414540 rows x 3 columns],                        timestamp     anglez   enmo
0       2018-08-07T15:30:00-0400   2.636700  0.022
1       2018-08-07T15:30:05-0400   2.636800  0.022
2       2018-08-07T15:30:10-0400   2.637000  0.022
3       2018-08-07T15:30:15-0400   2.636800  0.021
4       2018-08-07T15:30:20-0400   2.636800  0.022
...                          ...        ...    ...
389875  2018-08-30T04:59:35-0400 -27.373899  0.011
389876  2018-08-30T04:59:40-0400 -27.493799  0.011
389877  2018-08-30T04:59:45-0400 -27.533701  0.011
389878  2018-08-30T04:59:50-0400 -28.003599  0.011
389879  2018-08-30T04:59:55-0400 -28.656700  0.012

[389880 rows x 3 columns],                        timestamp     anglez   enmo
0       2018-09-24T16:15:00-0400 -35.069698  0.027
1       2018-09-24T16:15:05-0400 -16.225700  0.127
2       2018-09-24T16:15:10-0400 -40.818298  0.048
3       2018-09-24T16:15:15-0400 -30.420601  0.030
4       2018-09-24T16:15:20-0400 -25.775700  0.032
...                          ...        ...    ...
651055  2018-11-01T08:29:35-0400  -9.786100  0.057
651056  2018-11-01T08:29:40-0400  -7.334600  0.073
651057  2018-11-01T08:29:45-0400  -9.806100  0.065
651058  2018-11-01T08:29:50-0400  -8.120500  0.055
651059  2018-11-01T08:29:55-0400 -11.512800  0.051

[651060 rows x 3 columns],                        timestamp     anglez   enmo
0       2018-10-16T12:00:00-0400   9.798900  0.012
1       2018-10-16T12:00:05-0400   8.255500  0.012
2       2018-10-16T12:00:10-0400   5.346200  0.012
3       2018-10-16T12:00:15-0400   6.969800  0.014
4       2018-10-16T12:00:20-0400  12.682400  0.024
...                          ...        ...    ...
461515  2018-11-12T03:59:35-0500 -75.044601  0.000
461516  2018-11-12T03:59:40-0500 -75.044601  0.000
461517  2018-11-12T03:59:45-0500 -75.044601  0.000
461518  2018-11-12T03:59:50-0500 -75.044601  0.000
461519  2018-11-12T03:59:55-0500 -75.044601  0.000

[461520 rows x 3 columns],                        timestamp     anglez   enmo
0       2018-09-17T17:15:00-0400  83.741997  0.000
1       2018-09-17T17:15:05-0400  83.741997  0.000
2       2018-09-17T17:15:10-0400  83.741997  0.000
3       2018-09-17T17:15:15-0400  83.740501  0.009
4       2018-09-17T17:15:20-0400  83.737900  0.002
...                          ...        ...    ...
657535  2018-10-25T18:29:35-0400 -26.189899  0.045
657536  2018-10-25T18:29:40-0400 -23.438101  0.053
657537  2018-10-25T18:29:45-0400 -24.705400  0.034
657538  2018-10-25T18:29:50-0400 -22.184299  0.035
657539  2018-10-25T18:29:55-0400 -26.265100  0.027

[657540 rows x 3 columns],                         timestamp     anglez   enmo
0        2017-08-29T12:30:00-0400  -0.831700  0.118
1        2017-08-29T12:30:05-0400  -3.084000  0.110
2        2017-08-29T12:30:10-0400 -16.087999  0.139
3        2017-08-29T12:30:15-0400   6.112500  0.079
4        2017-08-29T12:30:20-0400  14.836000  0.046
...                           ...        ...    ...
1424695  2017-11-19T22:14:35-0500   2.840900  0.002
1424696  2017-11-19T22:14:40-0500   1.427200  0.004
1424697  2017-11-19T22:14:45-0500  -1.083000  0.002
1424698  2017-11-19T22:14:50-0500   0.591500  0.001
1424699  2017-11-19T22:14:55-0500   0.126000  0.002

[1424700 rows x 3 columns],                        timestamp     anglez   enmo
0       2018-11-13T11:45:00-0500  88.651901  0.000
1       2018-11-13T11:45:05-0500  88.651901  0.000
2       2018-11-13T11:45:10-0500  88.651901  0.000
3       2018-11-13T11:45:15-0500  88.651901  0.000
4       2018-11-13T11:45:20-0500  88.651901  0.000
...                          ...        ...    ...
518935  2018-12-13T12:29:35-0500 -24.839899  0.055
518936  2018-12-13T12:29:40-0500 -23.051100  0.062
518937  2018-12-13T12:29:45-0500 -21.388599  0.063
518938  2018-12-13T12:29:50-0500 -26.767500  0.067
518939  2018-12-13T12:29:55-0500 -24.149700  0.052

[518940 rows x 3 columns],                        timestamp     anglez   enmo
0       2018-12-19T11:15:00-0500 -16.815399  0.069
1       2018-12-19T11:15:05-0500 -13.815700  0.039
2       2018-12-19T11:15:10-0500  -9.894600  0.119
3       2018-12-19T11:15:15-0500 -17.673599  0.087
4       2018-12-19T11:15:20-0500 -20.264000  0.115
...                          ...        ...    ...
745015  2019-01-31T13:59:35-0500 -61.351002  0.026
745016  2019-01-31T13:59:40-0500 -59.415100  0.024
745017  2019-01-31T13:59:45-0500 -57.253201  0.009
745018  2019-01-31T13:59:50-0500 -49.992901  0.029
745019  2019-01-31T13:59:55-0500 -54.975201  0.016

[745020 rows x 3 columns],                        timestamp     anglez   enmo
0       2019-02-20T17:15:00-0500 -73.818100  0.020
1       2019-02-20T17:15:05-0500 -73.410400  0.020
2       2019-02-20T17:15:10-0500 -73.645897  0.020
3       2019-02-20T17:15:15-0500 -73.591904  0.020
4       2019-02-20T17:15:20-0500 -73.482201  0.020
...                          ...        ...    ...
407875  2019-03-16T08:44:35-0400  41.219601  0.005
407876  2019-03-16T08:44:40-0400  41.141102  0.005
407877  2019-03-16T08:44:45-0400  41.172001  0.005
407878  2019-03-16T08:44:50-0400  41.135899  0.005
407879  2019-03-16T08:44:55-0400  41.101002  0.005

[407880 rows x 3 columns],                        timestamp     anglez   enmo
0       2018-06-18T12:15:00-0400 -88.610603  0.004
1       2018-06-18T12:15:05-0400 -88.610603  0.004
2       2018-06-18T12:15:10-0400 -88.610603  0.004
3       2018-06-18T12:15:15-0400 -88.610603  0.004
4       2018-06-18T12:15:20-0400 -88.610603  0.004
...                          ...        ...    ...
594535  2018-07-22T21:59:35-0400  39.249199  0.030
594536  2018-07-22T21:59:40-0400  79.951401  0.050
594537  2018-07-22T21:59:45-0400  35.279499  0.060
594538  2018-07-22T21:59:50-0400  51.015900  0.050
594539  2018-07-22T21:59:55-0400  32.239300  0.018

[594540 rows x 3 columns],                        timestamp     anglez   enmo
0       2018-11-13T10:30:00-0500 -86.929604  0.043
1       2018-11-13T10:30:05-0500 -86.929604  0.043
2       2018-11-13T10:30:10-0500 -86.929604  0.043
3       2018-11-13T10:30:15-0500 -86.929604  0.043
4       2018-11-13T10:30:20-0500 -86.928398  0.043
...                          ...        ...    ...
414535  2018-12-07T10:14:35-0500 -25.375500  0.032
414536  2018-12-07T10:14:40-0500 -23.819000  0.037
414537  2018-12-07T10:14:45-0500 -19.518000  0.031
414538  2018-12-07T10:14:50-0500 -20.330400  0.038
414539  2018-12-07T10:14:55-0500 -12.161200  0.047

[414540 rows x 3 columns],                        timestamp     anglez   enmo
0       2018-10-09T11:15:00-0400 -86.449402  0.000
1       2018-10-09T11:15:05-0400 -86.449402  0.000
2       2018-10-09T11:15:10-0400 -86.449402  0.000
3       2018-10-09T11:15:15-0400 -86.449402  0.000
4       2018-10-09T11:15:20-0400 -86.449402  0.000
...                          ...        ...    ...
638995  2018-11-15T09:44:35-0500   6.382700  0.220
638996  2018-11-15T09:44:40-0500   2.528600  0.048
638997  2018-11-15T09:44:45-0500  -0.391900  0.045
638998  2018-11-15T09:44:50-0500  -1.897100  0.058
638999  2018-11-15T09:44:55-0500   1.759200  0.058

[639000 rows x 3 columns],                        timestamp     anglez   enmo
0       2017-08-04T18:15:00-0400  27.808901  0.075
1       2017-08-04T18:15:05-0400   5.827500  0.049
2       2017-08-04T18:15:10-0400  -3.453400  0.088
3       2017-08-04T18:15:15-0400 -30.418699  0.075
4       2017-08-04T18:15:20-0400 -38.320801  0.089
...                          ...        ...    ...
358915  2017-08-25T12:44:35-0400   7.703300  0.059
358916  2017-08-25T12:44:40-0400   3.441900  0.045
358917  2017-08-25T12:44:45-0400  32.596001  0.030
358918  2017-08-25T12:44:50-0400  49.985001  0.028
358919  2017-08-25T12:44:55-0400  29.150400  0.052

[358920 rows x 3 columns],                        timestamp     anglez   enmo
0       2018-02-23T11:30:00-0500 -88.118797  0.003
1       2018-02-23T11:30:05-0500 -88.202301  0.003
2       2018-02-23T11:30:10-0500 -88.259499  0.003
3       2018-02-23T11:30:15-0500 -88.345703  0.003
4       2018-02-23T11:30:20-0500 -88.157799  0.003
...                          ...        ...    ...
402295  2018-03-18T19:14:35-0400  -3.933900  0.075
402296  2018-03-18T19:14:40-0400  -6.074200  0.080
402297  2018-03-18T19:14:45-0400  -5.878300  0.082
402298  2018-03-18T19:14:50-0400 -10.765300  0.087
402299  2018-03-18T19:14:55-0400  -9.325800  0.070

[402300 rows x 3 columns],                        timestamp  anglez   enmo
0       2018-12-10T16:15:00-0500 -6.7966  0.064
1       2018-12-10T16:15:05-0500 -1.6937  0.076
2       2018-12-10T16:15:10-0500 -3.1418  0.078
3       2018-12-10T16:15:15-0500 -3.5656  0.084
4       2018-12-10T16:15:20-0500 -5.7089  0.072
...                          ...     ...    ...
385915  2019-01-02T00:14:35-0500  3.6960  0.011
385916  2019-01-02T00:14:40-0500  6.5631  0.010
385917  2019-01-02T00:14:45-0500  6.3485  0.006
385918  2019-01-02T00:14:50-0500  6.8060  0.007
385919  2019-01-02T00:14:55-0500  7.7066  0.009

[385920 rows x 3 columns],                        timestamp     anglez   enmo
0       2018-01-17T15:30:00-0500 -23.085800  0.148
1       2018-01-17T15:30:05-0500 -38.269199  0.175
2       2018-01-17T15:30:10-0500  -6.229900  0.081
3       2018-01-17T15:30:15-0500 -21.188101  0.112
4       2018-01-17T15:30:20-0500 -29.841700  0.073
...                          ...        ...    ...
411295  2018-02-10T10:44:35-0500  -2.649200  0.000
411296  2018-02-10T10:44:40-0500  -1.680100  0.002
411297  2018-02-10T10:44:45-0500  -1.405600  0.002
411298  2018-02-10T10:44:50-0500  -0.800500  0.000
411299  2018-02-10T10:44:55-0500  -6.246500  0.000

[411300 rows x 3 columns],                        timestamp     anglez   enmo
0       2018-09-27T12:00:00-0400  -1.531400  0.054
1       2018-09-27T12:00:05-0400   1.782500  0.057
2       2018-09-27T12:00:10-0400   3.960300  0.054
3       2018-09-27T12:00:15-0400   4.934400  0.107
4       2018-09-27T12:00:20-0400   5.212400  0.063
...                          ...        ...    ...
450715  2018-10-23T13:59:35-0400 -16.144400  0.047
450716  2018-10-23T13:59:40-0400 -16.004999  0.053
450717  2018-10-23T13:59:45-0400 -13.583800  0.054
450718  2018-10-23T13:59:50-0400 -17.095800  0.060
450719  2018-10-23T13:59:55-0400 -23.685600  0.064

[450720 rows x 3 columns],                        timestamp     anglez   enmo
0       2017-12-30T14:30:00-0500 -55.591999  0.041
1       2017-12-30T14:30:05-0500 -54.951199  0.038
2       2017-12-30T14:30:10-0500 -54.715000  0.037
3       2017-12-30T14:30:15-0500 -54.511398  0.037
4       2017-12-30T14:30:20-0500 -54.880402  0.037
...                          ...        ...    ...
403555  2018-01-22T22:59:35-0500 -39.542900  0.056
403556  2018-01-22T22:59:40-0500 -38.045700  0.038
403557  2018-01-22T22:59:45-0500 -34.182201  0.031
403558  2018-01-22T22:59:50-0500 -35.896198  0.048
403559  2018-01-22T22:59:55-0500 -36.227001  0.043

[403560 rows x 3 columns],                        timestamp     anglez   enmo
0       2018-05-17T12:30:00-0400 -85.255203  0.017
1       2018-05-17T12:30:05-0400 -85.285400  0.017
2       2018-05-17T12:30:10-0400 -85.247803  0.017
3       2018-05-17T12:30:15-0400 -85.232399  0.017
4       2018-05-17T12:30:20-0400 -85.247299  0.016
...                          ...        ...    ...
377095  2018-06-08T08:14:35-0400 -11.681900  0.074
377096  2018-06-08T08:14:40-0400 -16.564800  0.065
377097  2018-06-08T08:14:45-0400 -22.506399  0.046
377098  2018-06-08T08:14:50-0400 -22.583799  0.039
377099  2018-06-08T08:14:55-0400 -20.282600  0.044

[377100 rows x 3 columns],                        timestamp     anglez   enmo
0       2018-03-06T11:45:00-0500 -80.891701  0.038
1       2018-03-06T11:45:05-0500 -80.874001  0.038
2       2018-03-06T11:45:10-0500 -80.911903  0.038
3       2018-03-06T11:45:15-0500 -80.918900  0.039
4       2018-03-06T11:45:20-0500 -80.905197  0.039
...                          ...        ...    ...
402655  2018-03-29T19:59:35-0400 -19.573799  0.059
402656  2018-03-29T19:59:40-0400 -35.149502  0.038
402657  2018-03-29T19:59:45-0400  -9.397100  0.035
402658  2018-03-29T19:59:50-0400   6.856400  0.020
402659  2018-03-29T19:59:55-0400  -4.919800  0.042

[402660 rows x 3 columns],                        timestamp     anglez   enmo
0       2018-06-21T16:00:00-0400  88.976196  0.003
1       2018-06-21T16:00:05-0400  89.036903  0.003
2       2018-06-21T16:00:10-0400  89.180298  0.000

In [ ]:
# Match all HBN series with the train series
matches = [(batch, list(map(match, files))) for batch, files in hbn_series]

# Print the results
for batch in matches:
    print(batch)

As you can see, no matches here, unfortunately. It is possible that the HBN actigraphy dataset was preprocessed in a different way. 
We could try to preprocess the data in the same way as the HBN actigraphy dataset, but this would take a lot of time
as we not only need time to understand and write our own R code, but we need to find out with what configuration the data was preprocessed as well. 

It is, of course, also possible that I made a mistake in the code above. After all, I did find earlier that a lot of the timestamps match up. 
It's from the about the same time range (2017-2019), so perhaps it is worth it to look into this further.